$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$primary-title-color: #212121;
$acent-color: #2196f3;
$secondary-acent-color: #188ce8;
$secondary-bg-color: #f5f4fa;
$border-color-one: #ececec;
$border-color-two: #eeeeee;
$icon-color: #afb1b8;
$black-color: #000000;
$line-function: cubic-bezier(0.4, 0, 0.2, 1);
